



.users{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px 80px;
    gap: 5px;
}

input{
    margin: 0px 0 10px

}

.header{
    display: flex;
    justify-content:space-between;
}
.navbar{
    border: 1px solid red;
    
}

.navbar > ul >li{
    list-style: none;
    display: inline-block;
}